@model MenuViewModel
@{
    var id = Guid.NewGuid();
}


<div class="panel-group" id="accordion_@id">
    @foreach (var menuItem in Model.MenuItems)
    {
        if (menuItem.HasChild)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion_@id"
                           href="#@(menuItem.Name + "_" + id)">
                            @menuItem.Title <span class="fa fa-chevron-right caret-closed"></span><span class="fa fa-chevron-down caret-opened"></span>
                        </a>
                    </div>
                </div>
                <div id="@(menuItem.Name + "_" + id)" class="panel-collapse collapse">
                    <ul class="list-group">
                        @foreach (var child in menuItem.Child)
                        {
                            <li class="list-group-item">
                                <a href="@child.Url">@child.Title</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
        else
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a href="@menuItem.Url">@menuItem.Title</a>
                    </div>
                </div>
            </div>
        }
    }
</div>