@model MenuViewModel

<ul class="list-group">
    @foreach (var menuItem in Model.MenuItems)
    {
        <li class="list-group-item">
            @if (menuItem.HasChild)
            {
                <a class="dropdown-toggle" data-toggle="dropdown" href="@menuItem.Url">
                    @menuItem.Title
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @foreach (var child in menuItem.Child)
                    {
                        <li>
                            <a href="@child.Url">@child.Title</a>
                        </li>
                    }
                </ul>
            }
            else
            {
                <a href="@menuItem.Url">@menuItem.Title</a>
            }
        </li>
    }
</ul>
